body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(215, 225, 226);
}

.App {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(134, 48, 255);
  border-radius: 15px;
  margin: 100px;
  height: 40em;
  box-shadow: 5px 10px #888888;
}

.Left-div {
  background-color: rgb(250, 250, 250);
  border-radius: 15px;
  height: 40em;
  width: 40em;
}
