body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(215, 225, 226);
}

.App {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  border-radius: 15px;
  margin: 100px;
  height: 40em;
  box-shadow: 5px 5px #888888;
}

.Left-div {
  background-color: dimgrey;
  border-radius: 15px;
  height: 40em;
  width: 40em;
}

.App-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.Form {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.Location {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: dimgrey;
  border-style: solid;
  border-color: olive;
  color: azure;
  width: 15em;
  height: 15em;
  border-radius: 15px;
  line-height: 3px;
  margin: 5px;
}
