body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(11, 17, 20);
}

.App {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  border-radius: 15px;
  margin: 100px;
  height: 40em;
  box-shadow: 8px 8px #000000;
}

.Left-div {
  color: azure;
  background-color: dimgrey;
  border-radius: 15px;
  height: 40em;
  width: 40em;
}

.App-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.Form {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.Scroll-div {
  height: 35em;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 10px;
}

.Location {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: dimgrey;
  border-style: solid;
  border-color: olive;
  color: azure;
  width: 15em;
  height: 15em;
  border-radius: 15px;
  line-height: 3px;
  margin: 5px;
}
